<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 수식어(마우스 관련)</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="app">
    <div class="container" style="position:absolute; top:0; left:0; bottom:0; right:0;"
         @contextmenu.prevent
         @click.left="if (currentIndex > 0) currentIndex--;"
         @click.right="if (currentIndex < itemList.length - 1) currentIndex++;"
         @click.ctrl.left="currentIndex = 0"
         @click.ctrl.right="currentIndex = itemList.length - 1"
    >
        <div>
            - 왼쪽 버튼 : 위로<br>
            - 오른쪽 버튼 : 아래로<br>
            - CTRL + 왼쪽 버튼 : 처음으로<br>
            - CTRL + 오른쪽 버튼 : 마지막으로<br>
        </div>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"
                :class="index === currentIndex ? 'active' : ' '"
                v-for="(item, index) in itemList" :key="item">
                {{item}}
                <span v-if="index === currentIndex"
                className="float-right badge badge-secondary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </span>
            </li>
        </ul>
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.5.0/dist/axios.min.js"></script>
<script type="text/javascript">
    let vm = Vue.createApp({
        name: "App",
        data() {
            return {
                itemList : ["Item1","Item2","Item3","Item4","Item5",
                    "Item6","Item7","Item8","Item9"],
                currentIndex : 0
            }
        }
    }).mount('#app')
</script>
</body>
</html>
